@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

<p>Schedule ID: @ViewBag.ScheduleId</p>
<p>Number of Seats: @ViewBag.NumSeats</p>

@using (Html.BeginForm("Payment", "User", FormMethod.Post))
{
    <input type="hidden" name="scheduleId" value="@ViewBag.ScheduleId" />
    <input type="hidden" name="numSeats" value="@ViewBag.NumSeats" />

    <label for="paymentMethod">Payment Method:</label>
    <input type="text" id="paymentMethod" name="paymentMethod" required />

    <input type="submit" value="Pay Now" />
}
