@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>

<p>
    Have questions or need assistance? Our customer support team is here to help you 24/7.
</p>

<p>
    <strong>Email:</strong> <a href="mailto:support@expressbooker.com">support@expressbooker.com</a><br />
    <strong>Phone:</strong> +1-800-123-4567<br />
    <strong>Address:</strong> 123 Travel Lane, City, State, ZIP
</p>

<p>
    You can also reach out to us via our social media channels:
</p>

<ul>
    <li><strong>Facebook:</strong> <a href="https://facebook.com/expressbooker" target="_blank">facebook.com/expressbooker</a></li>
    <li><strong>Twitter:</strong> <a href="https://twitter.com/expressbooker" target="_blank">twitter.com/expressbooker</a></li>
    <li><strong>Instagram:</strong> <a href="https://instagram.com/expressbooker" target="_blank">instagram.com/expressbooker</a></li>
</ul>

<p>
    We value your feedback and are always here to assist with any queries or concerns you may have. Safe travels with ExpressBooker!
</p>
